.commitin
  %h2 Commits for #{git_location}
  %form{action: '/commitin', method: 'post'}
    %label{for:'commit'} Commit:
    %input{name:'commit'}
    %br
    %label{for:'branch'} Branch:
    %select{name:'branch'}
      - refs.each do |ref|
        %option{value:ref}= ref
    %br
    %input{type:'submit', value: 'Is it in?'}
